[submodule "link/vim/bundle/vim-fugitive"]
	path = link/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "link/vim/bundle/ack.vim"]
	path = link/vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "link/vim/bundle/ctrlp.vim"]
	path = link/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "link/vim/bundle/supertab"]
	path = link/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
