[submodule "link/vim/bundle/ultisnips"]
	path = link/vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "link/zprezto"]
	path = link/zprezto
	url = git@github.com:andrew-d/prezto.git
